streamlit
pandas==2.2.3
numpy==1.26.4
sentence-transformers==3.4.1
faiss-cpu==1.8.0
scikit-learn==1.6.1
spacy==3.8.4
rapidfuzz==3.12.2
pyarrow==19.0.1
tqdm==4.67.1
joblib==1.4.2
python-dateutil==2.9.0
